/**************************** START: BANNER ***************************************/

div#banner {
	margin: 0px auto 5px auto; /* bottom margin to account for banner shadow */
	width: 921px;
	max-width: 100%;
	height: 150px;

	background-image: url('/images/main/banners/banner_test.png');
	background-repeat: no-repeat;
	background-position: center;

	position: relative;
}

div#banner-title {
	position: absolute;
	bottom: -15px;
	margin: 0px auto;
	width: 921px;
	max-width: 100%;
}

div#banner-title > h1 {
	color: #fffefa;
	text-align: center;
	font-family: "Jua", sans-serif;
	font-size: 50px;
	margin: 0px;
}

/**************************** END: BANNER ***************************************/

/**************************** START: NAVBAR ***************************************/

div#navbar-container {
	width: 100%;
	max-width: 931px;
	margin: auto;
}

div#navbar {	/*list container */
	font-size: 14px;
	font-family: "Jua", sans-serif;
}


div#navbar ul.menu {	/* list */ 
	/*width: 100%;
	max-width: 931px;*/
	margin: 0 auto;
	padding: 0;

	color: #424242;
	background-color: #fffefa;
	border-style: dashed;
	border-color: #424242;
	border-width: 1px;
	border-radius: 0.5em;
	box-shadow: 0 0 0 4px #fffefa, 0 0 0 5px #424242;

	text-align: center;
}

div#navbar ul.menu > li {	/* main menu item block */ 
	display: inline-block;	/* makes it one line */
	width: 13%;
	margin: 0;
	padding: 0;
	background-color: transparent;
	
}

div#navbar a.menu-link {
	color: #424242;
	text-transform: lowercase;
	text-decoration: none;
	display: block;
	padding: 15px 0;
}

div#navbar ul.menu > li > ul.submenu {	/* submenu */	
	position: absolute;
	padding: 0;
	padding: 0 10px 10px 10px;
	margin-top: 0px;	/*depends on padding of main menu item */
	margin-left: -20px;
	background-color: transparent;

	/* hide dropdown menu */
	display: none;
}

div#navbar ul.menu > li:hover ul.submenu {
	/* show dropdown on hover */
	display: block;
}

div#navbar ul.menu > li > ul.submenu > li{	/* submenu menu item */
	list-style: none;
	width: 143px;
	background-color: #fffefa;
}


/* home button in the middle */
div#navbar ul.menu li.home span.menu-link { display: none; }
div#navbar ul.menu li.home .home-logo {	/* home logo */
	position: absolute;
	z-index: 100;
	left: 50%;	/* position it in the middle. */
	margin-left: -25px;	/* half of width */
	margin-top: -30px;	/* move it up a bit to center  */
	width: 50px;
	height: 50px;
	background-image: url('../images/main/logo/sandig_100.png');
	background-size: 100%;
}


/**************************** END: NAVBAR ***************************************/
 
/**************************** START: CONTENT ***************************************/

div#content-and-title-container {
	margin: 50px auto 50px auto;
	max-width: 931px;
}

h1#content-title-placeholder {
	font-family: "Jua", sans-serif;
	margin: 0;
	color: #424242;
}

div#content, div#footer {
	margin: 0px auto 50px auto;
	max-width: 931px;

  	color: #424242;
	background-color: #fffefa;
	border-style: dashed;
	border-color: #424242;
	border-width: 1px;
	border-radius: 0.5em;
	box-shadow: 0 0 0 4px #fffefa, 0 0 0 5px #424242;

	font-family: "Jua", sans-serif;
}

div.margin-wrapper {
	margin: 15px 25px 40px 25px;
}

/**************************** END: CONTENT ***************************************/

/**************************** START: FOOTER ***************************************/

div#aboutme, div#contactinfo, div#handles {
	display: inline-block;
	width: 32%;
	vertical-align: top;
}

div#aboutme > h1, div#contactinfo > h1, div#handles > h1 {
	font-size: 18px;
}

/**************************** END: FOOTER ***************************************/

