<!-- START: footer -->
<div id="footer" class="global">
	<!-- start: margin-wrapper -->
	<div class="margin-wrapper">

		<!-- start: about me -->
		<div id="aboutme">
			<h1>About Me</h1>
			<div class="profileimage"></div>
			<p>Welcome to my kingdom.</p>
		</div>
		<!-- end: about me -->

		<!-- start: contact info -->
		<div id="contactinfo">
			<h1>Contact Info</h1>
			<p>For emergencies, contact 9-1-1.</p>
		</div>
		<!-- end: contact info -->

		<!-- start: Handles -->
		<div id="handles">
			<h1>The Picture of Sandy Ho</h1>
			<ul>
				<li class=""><a href="https://github.com/sanzoid" target="_blank"><img src="/images/main/handle_icons/icon_github.png" /></a></li>
			</ul>
		</div>
		<!-- end: Handles -->

	</div>
	<!-- end: margin-wrapper -->

</div>
<!-- END: footer -->