<!-- START: navbar -->
<div id="navbar-container">
	<div id="navbar" class="global">
		<ul class="menu">
			<li class="page">
				<a class="menu-link" href="">self</a>
				<ul class="submenu">
					<li class=""><a class="menu-link" href="/pages/hobbies/tv.php">who am I?</a></li>
				</ul>
			</li>
			<li class="page">
				<a class="menu-link" href="">arts &amp; crafts</a>
			</li>
			<li class="page">
				<a class="menu-link" href="">forest</a>
			</li>
			<li class="home">
				<a href="/"><div class="home-logo"></div><span class="menu-link">home</span></a>
			</li>
			<li class="page">
				<a class="menu-link" href="">archive</a>
			</li>
			<li class="page">
				<a class="menu-link" href="">vault</a>
			</li>
			<li class="page">
				<a class="menu-link" href="">bulletin</a>
			</li>
		</ul>
	</div>
</div>
<!-- END: navbar -->