<!-- START: corners -->
<div id="corners" class="global">
	<div id="corner-top-left" class="corner corner-top corner-left" >:3</div>
	<div id="corner-top-right" class="corner corner-top corner-right" >:B</div>
	<div id="corner-top-middle" class="corner corner-top corner-middle" >owo</div>
	<div id="corner-bottom-left" class="lastmodified corner corner-bottom corner-left">:D</div>
	<div id="corner-bottom-middle" class="corner corner-bottom corner-middle" >uwu</div>
	<div id="corner-bottom-right" class="siggy corner corner-bottom corner-right">sanzoid's corner</div>
</div>
<!-- END: corners -->